@import '~antd/es/style/themes/default.less';

.pageCon {
  li {
    list-style: none;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  :global {
    .ant-checkbox-checked::after {
      border: none;
    }
  }
  .none {
    display: none;
  }
  .btnList {
    .uploadBtn {
      margin-right: 24px;
    }
    .newFolder {
      margin-right: 24px;
    }
    .batchDelete {
      margin-right: 24px;
    }
    .searchCon {
      margin-left: auto;
    }
    .search {
      width: 300px;
      background: #f2f3f8;
      border-radius: 100px;
    }
  }
  .nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
    .common {
      color: #c8793e;
      font-size: 14px;
    }
    .backNext {
      color: #c8793e;
      font-size: 14px;
      cursor: pointer;
    }
    .commonGray {
      color: #979797;
      font-size: 14px;
    }
    .backNext {
    }
    .delimiter {
      margin-right: 14px;
      margin-left: 14px;
      color: #c8793e;
    }
    .breadcrumb_all {
      display: flex;
      align-items: center;
    }
    .breadcrumbAllText {
      color: #c8793e;
      font-size: 14px;
      cursor: pointer;
    }
    .arrow_right {
      margin-right: 8px;
      margin-left: 8px;
      color: #979797;
      font-size: 14px;
    }
    .breadcrumb_item {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        padding: 0px;
      }
      .bc_name {
        font-size: 14px;
        cursor: pointer;
      }
    }
    .fileTotal {
      margin-left: auto;
      color: #7e8490;
      font-size: 14px;
    }
  }

  .table_files {
    .table_top {
      display: flex;
      align-items: center;
      margin-top: 16px;
      color: #c8793e;
      font-size: 14px;
      .txt {
        margin-left: 5px;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0px;
      li {
        position: relative;
        box-sizing: border-box;
        // width: 133px;
        // height: 167px;
        margin-top: 16px;
        margin-right: 16px;
        padding: 28px;
        border-radius: 4px;
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          .fileImg {
            width: 80px;
            height: 80px;
          }
          .fileName {
            margin-top: 12px;
            color: rgba(0, 0, 0, 0.85);
            font-size: 14px;
            text-align: center;
          }
        }
        .operation {
          position: absolute;
          top: 0px;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 40px;
          height: 18px;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 0px 4px;
        }
      }
      .selected_bgc {
        background: #f4e4d8;
      }
      .itemCheckbox {
        position: absolute;
        top: 4px;
        left: 6px;
      }
    }
  }
}
.cardCon {
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
}
.colManage {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  .title {
    padding: 8px 12px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }
  .checkboxAll {
    padding: 12px;
  }
}
